<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="CSVFilesFolder" value="C:\Git\spsei-programming\Homeworks\Data loading and saving\CSV files\"/>
	</appSettings>
</configuration>